include *.rst
recursive-include skdpu *.c *.h *.pyx *.pxd *.pxi *.tp
include LICENSE
include README.rst
include pyproject.toml
include MANIFEST.in

# exclude from sdist
exclude .pre-commit-config.yaml
exclude lgtm.yml
